<div style='text-align:center; width:50%; justify-content: center;'>
    <image src='https://gateway.pinata.cloud/ipfs/${ipfs}'></image>

    <h2>Classify the Pepe 🐸</h2>

    <div>
        <p>Number of eyes 👀</p>
        <input type="number" name="number of eyes" id="eyes">
        </br>

        <p>Number of mouths 🤑</p>
        <input type="number" name="number of mouths" id="mouth">
        </br>
    </div>

    </hr>

    <h2>How much this Pepe resemble the original one? 🐸</h2>
    <input type='radio' name='radio-answer' id="original" label=''>This is totally Pepe 🤩</input><br>
    <input type='radio' name='radio-answer' id="original" label=''>It kind of looks like Pepe 😏</input><br>
    <input type='radio' name='radio-answer' id="original" label=''>I guess it reminds me of Pepe 🤐</input> <br>
    <input type='radio' name='radio-answer' id="original" label=''>The fuck is a Pepe? 😵</input><br>
    
    </hr>

    <h2>Is this image animated? 💅</h2>
    <input type='checkbox' name='checkbox-answer' id="animated" label=''>True/False</input>

    <!-- Have a submit button at the end of the template for the user to interact with to submit their results -->
    <button type="submit">Submit</button> 
</div>

<script>
    // Add your scripts here to make the page dynamic here.
    setTimeout(() => console.log(window.FORCE_PLACEHOLDERS), 1000)
</script>

<style>
    /* Css styles here. */
</style>