<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
<script src="dist/SubtitleEditor.umd.min.js"></script>
<link href="https://files.effect.ai/tmp/SubtitleEditor.css" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />

<script>
    function forceResults(results) {
        window.vm1.subs = window.vm1.parser.fromSrt(results.subtitles, window.vm1.originalSrt);
        window.validateMode = true;
    }
</script>

<div id='task'>
    <subtitle-editor 
      srt-url="https://files.effect.ai/translate/media/ama.srt" 
      video-url="https://files.effect.ai/translate/media/ama.mp4"
      :ids="[10]">
    </subtitle-editor>
</div>

<script>
  window.vm1 = new Vue({
    el: '#task',
    data () {
      return {
      }
    },
    components: {
      'subtitle-editor': SubtitleEditor
    }	
  });
</script>
